/* Colors */
:root {
  --light-color: #f4eeed; /* Light color */
  --dark-color: #333; /* Dark color */
  --primary-color: #ff5538; /* Primary color */
}

body {
  background-color: var(--light-color);
  font-family: "Inter Tight", sans-serif;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;

  ul {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
    list-style: none;

    li {
      & a {
        color: var(--dark-color);
        text-decoration: none;
        &:hover {
          transition: 0.2s;
          font-weight: 800;
          color: var(--primary-color);
        }
      }

      transition: 0.2s;
      &:hover {
        transition: 0.2s;
        font-weight: 800;
        color: var(--primary-color);
      }
    }
  }
}

/* button {
  border: 1px solid #ffffffb6;
  outline: 0px;
  grid-gap: 8px;
  align-items: center;
  background-color: var(--light-color);
  color: var(--primary-color);
  border-radius: 65px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  box-shadow: 6px 6px 12px #c5c5c597, -6px -6px 12px #ffffff;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  &:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    box-shadow: 6px 6px 12px #c5c5c5a7, -12px -12px 12px #ffffff;
    transform: translate(-1px, -1px);
  }
} */

button {
  border: 2px solid var(--primary-color);
  outline: 0px;
  grid-gap: 8px;
  align-items: center;
  color: var(--primary-color);
  border-radius: 65px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
  &:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
  }
}

.section-1 {
  padding: 5px 50px;

  h1 {
    padding: 35px 0px;
    margin: 0;
    font-size: 130px;
    font-weight: 500;
    letter-spacing: -3px;
  }
}

/* Style for tags */
.tags {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  width: auto;
  border-radius: 65px;
  padding: 15px;
  margin-bottom: 50px;
  position: sticky;
  top: 5px;

  & .tag-btn {
    font-size: 16px;
  }
}

.tag-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  gap: 20px;
  border-radius: 65px;
  position: sticky;
  top: 5px;
}

.tags button {
  background-color: #33333300;
  margin-right: 5px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 65px;
  border: none;
  color: var(--dark-color);
  transition: 0.5s;
}

.tags button.active {
  background-color: var(--primary-color);
  color: var(--light-color);
}

/* Style for images */
.gallery {
  column-count: 4; /* Set the number of columns */
  column-gap: 10px; /* Set the gap between columns */
}

.image {
  margin-bottom: 10px; /* Add some bottom margin for spacing */
  overflow: hidden;
  border: 1px solid #e8e8e8;
  border-radius: 20px;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Style for toggle button */

.toggle-view button {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 65px;
  background-color: var(--light-color);
}

.toggle-view button.active {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

#modalImg {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin: auto;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  nav {
    padding: 10px;
  }
  .section-1 {
    padding: 10px;
  }
  .section-1 h1 {
    font-size: 95px;
  }

  .tags {
    display: flex;
    margin-bottom: 25px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
  }
  .tag-btns {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 590px) {
  nav {
    flex-wrap: wrap;
    padding: 10px;
  }

  .section-1 h1 {
    font-size: 65px;
  }

  .section-1 {
    padding: 10px;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 10px;
    align-items: center;
    justify-content: left;
    border-radius: 25px;
    gap: 10px;
  }

  .tag-btns {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: left;
    border-radius: 25px;
    gap: 10px;
  }

  .tag-btns {
    font-size: 5px;
  }

  .gallery .image {
    border-radius: 15px;
  }

  .gallery {
    column-count: 2; /* Set the number of columns */
    column-gap: 5px; /* Set the gap between columns */
  }
}
@media only screen and (max-width: 490px) {
  nav {
    flex-wrap: wrap;
    padding: 10px;
  }

  .section-1 h1 {
    font-size: 65px;
  }

  .section-1 {
    padding: 10px;
  }

  ul {
    cursor: pointer;
    padding: 0;
    margin: 0;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 10px;
    align-items: center;
    justify-content: left;
    border-radius: 25px;
    gap: 10px;

    & .tag-btn {
      font-size: 14px;
    }
  }

  .tag-btns {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: left;
    border-radius: 25px;
    gap: 10px;
  }

  .tag-btns {
    padding: 0;
  }
  .tags.tag-btns.tag-btn {
    font-size: 5px;
  }

  .gallery .image {
    border-radius: 15px;
  }

  .gallery {
    column-count: 2; /* Set the number of columns */
    column-gap: 5px; /* Set the gap between columns */
  }
}
